Team*.zip
*.pem
*.ppk
*.crt
*.key
*.ovpn

.env

# remove MacOS files
.DS_Store
*.swp
*.swo
*.lnk

node_modules/

# remove python environment
env/
.env.*
.env
env-*

# firebase
firebase/env*

# venv
cfg-27/


*.pyc
__pycache__
