.module {
    padding: 1.5rem 1.5rem !important;
    background-color: white !important;
    margin-bottom: 1em !important;
}

.module h1 {
    font-size: 25px;
    margin-bottom: 1.2rem;
}

.custom-card h5 {
    font-size: 15px !important;
}